#main {
	padding:5.5rem 3.8rem;
}

#main h2 {
	color:#4e4e4e;
	font-size:2.25rem;
	font-weight:normal;
	padding:0.6rem 0;
}

#main ul li {
	font-size:1.3rem;
	color:#fbb435;
	line-height:2.4rem;
	padding:0.6rem 0;
	list-style:square;
}
#main ul li p {
	font-size:1.625rem;
	color:#868686;
	text-align:justify;
}
#main ul {
	margin-bottom:8.4rem;
}

.btn {
	color:white;
	background-color:#fbb435;
	text-align:center;
	font-size:2.5rem;
	line-height:5.375rem;
	width:30.625rem;
	margin: 1.375rem auto;
	cursor:pointer;
}
