
/*main*/
#main {
	background-color:#29bde0;
}

/*tips*/
#tips_area {
	height:8.625rem;
}
#table{
	display:table;
	width:100%;
}
#row{
	display:table-row;
	width:100%;
}

#tips_box {
	display:table-cell;
	width:100%;
	vertical-align:middle;
	background-color:#b9e9f5;
	height:5.125rem;
	font-size:1.625rem;
	color:#464646;
	padding-left:2.875rem;
	padding-right:4rem;
	overflow:hidden;
	position:relative;
}
#tips_box>p {
	color:#464646;
	font-size:1.625rem;
}
#play {
	width:3.250rem;
	height:3.250rem;
	border-radius:1.625rem;
	background-color:#fbb435;
	position:absolute;
	right:1.438rem;
	top:0.938rem;
	cursor:pointer;
}
.right_tri {
	width:0;
	height:0;
	border:transparent solid;
	border-width:0.75rem 1.375rem;
	border-left-color:white;
	margin:0.875rem 0 0 1.125rem;
}
.stop {
	width:0.5rem;
	height:1.5rem;
	border:white solid;
	border-width:0 0.5rem;
	margin:0.875rem 0 0 0.875rem;
}
#tips_tri {
	width:0px;
	height:0px;
	border: 0.813rem transparent solid;
	border-top-color:#b9e9f5;
	margin-left:4.375rem;
}
#tips_area>p {
	color:white;
	font-size:1.5rem;
	padding-left:4.375rem;
}

/*vote*/
#vote_area {
	overflow:hidden;
	text-align:center;
	padding-left:2%;
	padding-bottom:13rem;
}
.vote_box {
	margin:5.5%;
	width:20%;
	padding-top:20%;
	float:left;
	position:relative;
	border:0.25rem solid white;
	cursor:pointer;
}
.checked {
	margin:5.5%;
	width:20%;
	padding-top:20%;
	float:left;
	position:relative;
	border:0.25rem solid green;
	cursor:pointer;
}
.vote_occ {
	background:#f5c97b;
	font-size:1.875rem;
	color:#565656;
	position:absolute;
	top:0;
	height:50%;
	padding-top:28%;
	width:100%;
}
.vote_number {
	background-color:#83b09a;
	font-size:1.2rem;
	color:white;
	position:absolute;
	bottom:0;
	height:22%;
	width:100%;
}

/*tools*/
.tools_box{
	position:absolute;
	bottom:-36%;
	width:100%;
	text-align:left;
	font-size:0;
	display:none;
}


/*footer*/
footer {
	background-color:#29bde0;
	border-top:2px white solid;
	width:100%;
	min-width:320px;
	max-width:640px;
	height:11.875rem;
	margin:0 auto;
	position:fixed;
	bottom:0px;
}
#vote_btn {
	width:80%;
	margin:2.625rem auto;
	background-color:#fbb435;
	text-align:center;
	line-height:5.438rem;
	font-size:2.5rem;
	color:white;
	cursor:pointer;
}



/*小图标*/
.kill ,.view ,.lock , .healing {
	display:inline-block;
	background-size:contain;
	background-position:50% 50%;
	vertical-align:middle;
	padding:12.5%;
	position:relative;
	cursor:pointer;
}

.kill {
	background-image:url("../images/kill.png");
	left:-0.25rem;
}
.view {
	background-image:url("../images/view.png");
	left:-0.08rem
}
.lock {
	background-image:url("../images/lock.png");
	right:-0.09rem

}
.healing {
	background-image:url("../images/healing.png");
	right:-0.25rem;
}