/*main*/
#main {
	background-color:#29bde0;
}

/*vote*/
#vote_area {
	overflow:hidden;
	text-align:center;
	padding-left:2%;
	padding-bottom:13rem;
}
.vote_box {
	margin:5.5%;
	width:20%;
	padding-top:20%;
	float:left;
	position:relative;
	border:0.25rem solid white;
	background-image:url("../images/ptt.png");
	background-size:contain;
}
.vote_occ {
	font-size:1.875rem;
	position:absolute;
	top:0;
	height:50%;
	padding-top:28%;
	width:100%;
}
.vote_number {
	background-color:rgba(26,153,183,0.52);
	font-size:1.2rem;
	color:white;
	position:absolute;
	bottom:0;
	height:22%;
	width:100%;
}


/*footer*/
footer {
	background-color:#29bde0;
	border-top:2px white solid;
	width:100%;
	min-width:320px;
	max-width:640px;
	height:11.875rem;
	margin:0 auto;
	position:fixed;
	bottom:0px;
}
#vote_btn {
	width:80%;
	margin:2.625rem auto;
	background-color:#fbb435;
	text-align:center;
	line-height:5.438rem;
	font-size:2.5rem;
	color:white;
	cursor:pointer;
}