.box{
	background:#fff;		
	display: table;
	margin:auto;
	padding:20px;
	border-spacing: 4px 2px;
}
.cow{
	display:table-row;
}
.cell ,.red ,.green ,.blue {
	display: table-cell;
	width:118px;
	height:118px;
	border-radius: 6px;
	background-color: #e8830d;
	text-align:center;
	vertical-align:middle;
}
.red {
	background-color:red;
}
.green {
	background-color:green;
}
.blue {
	background-color:blue;
}